html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: yellowgreen;
}


.buttonContainer {
    margin-right: 100px;
}

.buttonSize {
    margin-bottom: 50px;
}

button {
    display: block;
}


 .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 500px;
    height: 500px;
    background-color: white;
}

.box {
    border: 1px solid black;
}