html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    display: inline;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}