html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(41, 38, 38);
}

.header {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    margin: 20px;
    padding: 10px;
    color: rgb(52, 141, 214);
}

.buttonContainer {
    padding: 10px;
    background-color: rgb(58, 57, 57);
    border-radius: 25px;
    margin-right: 100px;
}


button {
    width: 200px;
    margin: 10px;
    display: block;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid black;
    background-color: whitesmoke;
    padding: 10px;
    transition: .2s;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: #fff;
    color: #000;
}


 .container {
    display: grid;
    background-color: white;
    border: 2px solid black;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 500px;
    height: 500px;
}

.box {
    border: 1px solid black;
}

.active {
    background-color: yellow;
}